<div id="leave_team_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_tag("users/0", :method => :delete, class: "col s12 leave_user_form leave_team_form") do %>
        <div class="row">
          <div class="col s12">
            <h4>Leave Team</h4>
            <p>Are you sure you want to leave team <b><%= @team.slug %></b>?</p>
          </div>
          <div class="input-field col s12">
            <input type="hidden" name="user_remove_id" id="user_remove_id">
            <%= submit_tag("Leave", class: "btn red right") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
